.input-component {
  padding: 0 15px!important;
  float: left!important;
}

.input-component > input {
  border-top-left-radius: 4px!important;
  border-bottom-left-radius: 4px!important;
}

.button {
  padding-top: 25px!important;
}
